@{var token = Request["token"];
    bool showForm = false;
    var message = "";
    if (!string.IsNullOrEmpty(token))
    {
        if (WebSecurity.ConfirmAccount(token))
        {
            message = "Your account has been confirmed";
        }
        else
        {
            message = "Oops something has gone wrong there please contact the Administrator";
        }
    }
    else
    {
        showForm = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @message @if (showForm == true)
    {
        <form method="post"> 
        <div>
            <label>Token</label>
            <input type="text" name="token" /> 
        </div> 
             <input type="submit" />
        </form>
    }


</body>
</html>

