@{ 
    if (Request["Logoutform"] == "Logout")
    {
        FormsAuthentication.SignOut();
        Response.Redirect("~/index");
    }

}


<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Render Shared Header-->
@RenderPage("~/Shared/_Header.cshtml")
    
    <!-- Page Layout here -->

    <form method="post">
        <input hidden value="Logout" name="Logoutform" />
        <button class="btn waves-effect waves-light" type="submit" name="LogoutButton" value="false">
            Do you really want to Sign Out?
            <i class="material-icons right">send</i>
        </button>
    </form>

    <!--Side NAV for Users-->
    <ul id="slide-out" class="side-nav">
        <li>
            <a class="waves-effect" href="~/index.cshtml">Home <i class="material-icons">home</i></a>
        </li> @{if (WebSecurity.IsAuthenticated == false)
            {
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="waves-effect" href="~/Account/SignIn.cshtml">Signin</a>
                </li>
            }
        }
        <li>
            <a class="waves-effect" href="~/Members/AccountPage.cshtml">Account <i class="material-icons">face</i></a>
        </li>
    </ul>
    <!--Scripts-->
    <script>
        // Initialize collapse button
        $(".button-collapse").sideNav();
    </script>



</body>
</html>