<!DOCTYPE html>
<html>

    <body>
        <!--Scripts for materialize-->
        <script>
        // Initialize collapse button
        $(".button-collapse").sideNav();
        // initialize select dropdown
        $(document).ready(function () {
            $('select').material_select();
        });
        </script>
    </body>
</html>
